<h1>Projects</h1>

<div class="row">
  <div class="col-md-11"></div>
  <div class="col-md-1">
  <%= link_to 'New Project', new_listing_path, class: "btn btn-danger" %>
  </div>

  <br>


  <br>


  <br>

<div class="left">

  <div class="row">
     <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag listing.image.url %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= listing.description %></p>
            <p><%= "Created by #{listing.user.name}" %></p>
            <%= link_to 'Show', listing, class: "btn btn-link" %>
            <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
            <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
          </div>
        </div>      
        </div>
      <% end %>
  </div>
</div>

<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
  
</div>
